.btn {
  width: 100%;
  height: $primaryBtnHeight;
  font-size: $primaryBtnFontSize;
  padding: $primaryBtnPadding;
  cursor: pointer;
  border: none;
  border-radius: 10px;

  &-with-icon{
    i{
        margin-left: 0.5rem;
    }
  }

  &-primary {
    cursor: pointer;
    color: $btnTextColor;
    background-color: $primaryColor;
  }

  &-danger {
    width: 100%;
    background-color: $cardDangerBackgroundColor;
    color: $cardDangerTextColor;
  }
}

.btn-group {
  display: inline;
  gap: 0.5rem;
  input{
    margin: 1rem 0 .5rem 0;
  }
  select{
    margin: .5rem 0 1rem 0;
  }
}

@media (min-width: 768px) {
  .btn-group {
    gap: 0.5rem;
    display: flex;
    input{
      margin: 0;
    }
    select{
      margin: 0;
    }
  }
}