.searchbar {
  margin: 1rem 0;

  .warn {
    background-color: $btnWarnColor;
    color: $btnWarnTextColor;
    border-radius: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 0.25rem;
    margin: 1rem 0;
    position: relative;
    h2 {
      width: 80%;
    }

    .cancel {
      position: absolute;
      top: 0.5rem;
      right: 0.25rem;
      opacity: 0.75;
      cursor: pointer;
      font-size: 1.25rem;
    }

    svg {
      margin: 0 .5rem;
      font-size: 2rem;
    }

    h2 {
      font-size: 1rem;
      font-weight: 300;
      line-height: 1.25rem;
      border-radius: 15px;

      a {
        cursor: pointer;
        border-bottom: 1px solid black;
      }
    }
  }

  .info {
    background-color: $btnInfoColor;
    border-radius: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 0.25rem;
    margin: 1rem 0;
    position: relative;

    h2 {
      width: 80%;
    }

    .cancel {
      position: absolute;
      top: 0.5rem;
      right: 0.25rem;
      opacity: 0.75;
      cursor: pointer;
      font-size: 1.25rem;
    }

    svg {
      margin: 0 .5rem;
      font-size: 2rem;
    }

    h2 {
      font-size: 1rem;
      font-weight: 300;
      line-height: 1.25rem;
      border-radius: 15px;

      a {
        cursor: pointer;
        border-bottom: 1px solid black;
      }
    }
  }
}

.form-bg{
  position: fixed;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100dvw;
  background: #000000;
  opacity: 0.65;
  z-index: 10;
  overflow-y: hidden;
  display: flex;
}

.input {
  position: relative;

  .autocomplete{
    z-index: 11;
  }

  .input-container {
    position: relative;

    button{
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 4rem;
        border: none;
        background-color: transparent;
        cursor: pointer;
        outline: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 11;
      svg{
        font-size: 1.25rem;
      }
    }

    .selectable {
      cursor: pointer;
      opacity: .5;
    }

    .suggestions-container {
      list-style-type: none;
      padding: 0;
      margin-top: 0.05rem;
      position: absolute;
      left: 0;
      width: 100%;
      z-index: 11;
      background-color: #efefef;
      border-radius: 1rem;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      overflow: scroll;
      max-height: 350px;

      .suggestion-no-result {
        div{
          img{
            border-radius: 1rem;
          }
        }
        span{
          font-size: 1rem;
          font-weight: 300;
          opacity: .75;
        }
        width: 100%;
        padding: .5rem;
        text-align: center;
        margin-bottom: .5rem;
      }

      .suggestion-item {
        font-size: 1rem;
        padding: .25rem;

        .highlight{
          background-color: $primaryColor;
        }

        .category-title {
          padding: .5rem;
          font-size: 1rem;
          display: flex;
          font-weight: 400;
          opacity: .75;

          .category-icon {
            z-index: 3;
            position: initial;
            right: initial;
            bottom: initial;
            font-size: 1.5rem;
            margin-right: .5rem;
          }
        }

        .suggestion-sub-container {
          list-style-type: none;

          .suggestion-sub-item {
            //box-shadow: 0 0 25px rgba(94, 94, 94, 0.25);
            background-color: white;
            padding: .5rem .5rem .5rem 1rem;
            font-size: .9rem;
            cursor: pointer;
          }
        }
      }
    }
  }


  svg {
    z-index: 3;
    position: absolute;
    right: 1.5rem;
    bottom: 0.85rem;

    // Misc
    pointer-events: none;
  }

  [class^="icon-"]:before, [class*=" icon-"]:before {
    font-size: 1.5rem;
  }
}

.resultbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $greyColorEF;
  margin: 0 -1rem;
  padding: 0.5rem 1rem;

  .count {
    font-size: 1rem;
    font-weight: 300;
  }

  .view-picker {
    font-size: 1.2rem;
    display: flex;

    .icon-picker {
      cursor: pointer;
      display: inline-block;
      margin-left: 0.5rem;
      padding: 0.5rem;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid $btnTextColor;

      svg {
        display: flex;
        font-size: 1.25rem;
      }
    }

    .icon-picker.active {
      background-color: $primaryColor;
    }
  }
}

@media (min-width: 992px) {
  .input {
    .input-container {
      .selectable {
      }

      .suggestions-container {
        .category-title {
          .category-icon {
          }
        }

        .suggestion-item {

          .category-title {
            font-size: 1.2rem;
          }

          .suggestion-sub-container {
            .suggestion-sub-item {
              font-size: 1.1rem;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1224px) {
  .resultbar {
    margin: 0;
  }
}
