.editor-wyswyg{
  h1{
    font-size: 2rem;
    margin: 1rem 0;
  }
  b{
    font-weight: 500;
  }
  strong{
    font-weight: 500;
  }
  ul{
    list-style: disc !important;
    padding-left: 2rem !important;
    li{
        margin: 0.5rem 0;
    }
  }
}